# Core functionality - changes here should be rare!
/src/app.py                   @ramigoii
/src/backend/database.py      @ramigoii
/src/backend/routers/auth.py  @ramigoii

# The frontend will need refactored soon to be more object oriented.
/src/static/   @ramigoii
